#conteudo {max-width: 500px; min-height: 50px; background-color: green; color: #fff; padding: 20px;}

/* com porcentagem
#conteudo {width: 80%; height: 50%; background-color: green; color: #fff; padding: 20px;}
*/